// Main Colors
$burgandy: #650015;
$navy: #202a44;
$white: #fffff0;
$black: #141414;

// Accent Colors
$hover: #dcdcdc;
$accent: rgb(46, 21, 21);

// Fonts
$headings1:'Montserrat', sans-serif;
$headings2: Georgia;
$mainText: Didot, Didot LT STD, Hoefler Text,Garamond,Times New Roman,serif; 

// Font Colors
$navyFont: #113694;